:root {
    --primary: #fff;

    --light-color: #FFFFFF;
    --font-color: 000000;
    --backgroud-color: #fff;
    --font: 'Poppins', sans-serif;
    --font-logo: #192945;
    --btn-alternativo: #4688F2;
}

.card-container {
    font-family: var(--font);
    font-size: 14px;
    margin: 20px;
    border: none!important;
}

.card-img {
    border-radius: 1px!important;
    border: 1px solid rgb(0 0 0 / 18%);
    border-bottom: none;
}

.card-body{
    border: 1px solid rgb(0 0 0 / 18%);
    border-top: none;
}

.carousel-indicators .active {
    display: none;
}

@media only screen and (max-width: 1024px) {

    .card-body{
        border: 1px solid rgb(0 0 0 / 18%);
        border-top: none;
    }
    
    @media only screen and (max-width: 758px) {

        .card-body{
            border: 1px solid rgb(0 0 0 / 18%);
            border-top: none;
        }
    }
}