:root {
    --primary: #fff;

    --light-color: #FFFFFF;
    --font-color: #000000;
    --backgroud-color: #fff;
    --font: 'Poppins', sans-serif;
    --font-logo: #192945;
    --btn-alternativo: #4688F2;
}

.form-container {
    width: 120% !important;
    margin: auto !important;
    background-color: rgb(255, 255, 255);
    padding: 70px !important;
    font-family: var(--font);
}

.form-h3 {
    text-align: center !important;
    padding-bottom: 40px;
}

.form-h3::after {
    content: "";
    position: absolute;
    bottom: -227%;
    left: 50%;
    /* posiciona a metade da largura */
    transform: translateX(-50%);
    /* centraliza a linha */
    width: 40px;
    /* largura da linha */
    height: 4px;
    /* altura da linha */
    background-color: var(--btn-alternativo);
    /* cor da linha */
}

.form-control {
    border-radius: 1px !important;
    color: #707070 !important;
    background-color: #F7F7F7 !important;
    border: none !important;
    font-size: 14px;
}

Button {
    width: 100%;
}

@media only screen and (max-width: 1024px) {

    .form-h3::after {
        display: none;
    }


    @media only screen and (max-width: 758px) {
        .form-h3::after {
            display: none;
        }

        .form-container {
            width: 80% !important;
        }

        .col-md-6 {
            padding-bottom: 35px !important;
        }
        
        textarea.form-control {
            margin-top: -6%;
        }
    }
}