:root {
    --primary: #fff;

    --light-color: #FFFFFF;
    --font-color: #000000;
    --backgroud-color: #fff;
    --font: 'Poppins', sans-serif;
    --font-logo: #192945;
    --btn-alternativo: #4688F2;
}

.form-container {
    width: 120% !important;
    margin: auto !important;
    background-color: rgb(255, 255, 255);
    padding: 70px !important;
    font-family: var(--font);
}

.form-h3 {
    text-align: center !important;
    padding-bottom: 10px;
}

.form-control {
    border-radius: 1px !important;
    color: #707070 !important;
    background-color: #F7F7F7 !important;
    border: none !important;
    font-size: 14px;
}

.form-container hr {
    width: 8% !important;
    margin: auto !important;
    padding: 2px;
    background-color: #4688F2 !important;
    opacity: 10 !important;
    border: none !important;
    margin-bottom: 50px !important;
}

Button {
    width: 100%;
}

@media only screen and (max-width: 1024px) {


    @media only screen and (max-width: 758px) {

        .form-container {
            width: 80% !important;
        }

        .col-md-6 {
            padding-bottom: 35px !important;
        }

        textarea.form-control {
            margin-top: -6%;
        }

        .form-container hr {
            width: 16% !important;
            margin-top: -2px!important;
        }
    }
}