:root {
    --primary: #fff;

    --light-color: #FFFFFF;
    --font-color: #000000;
    --backgroud-color: #fff;
    --font: 'Poppins', sans-serif;
    --font-logo: #192945;
    --btn-alternativo: #4688F2;
}


.prod-container {
    padding: 0 !important;
    margin: auto;
    font-family: var(--font);
}

.titulo, .titulo-dois {
    text-align: center;
    padding: 30px;
}

.titulo::after {
    content: "";
    position: absolute;
    bottom: 3%;
    left: 50%;
    /* posiciona a metade da largura */
    transform: translateX(-50%);
    /* centraliza a linha */
    width: 40px;
    /* largura da linha */
    height: 3px;
    /* altura da linha */
    background-color: var(--btn-alternativo);
    /* cor da linha */
}

.titulo-dois {
    padding-bottom: 80px;
}

.titulo-dois::after  {
    content: "";
    position: absolute;
    bottom: -99%;
    left: 50%;
    /* posiciona a metade da largura */
    transform: translateX(-50%);
    /* centraliza a linha */
    width: 40px;
    /* largura da linha */
    height: 4px;
    /* altura da linha */
    background-color: var(--btn-alternativo);
    /* cor da linha */
}

.prod-row:last-child {
    padding: 50px;
}

.prodDivImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.img {
    width: 500px;
    height: auto;
}

@media only screen and (max-width: 1024px) {


    .prod-carousel {
        padding: 90px!important;
    }

    .titulo::after {
        content: "";
        position: absolute;
        bottom: 7%;
        left: 50%;
        /* posiciona a metade da largura */
        transform: translateX(-50%);
        /* centraliza a linha */
        width: 40px;
        /* largura da linha */
        height: 3px;
        /* altura da linha */
        background-color: var(--btn-alternativo);
        /* cor da linha */
    }



    @media only screen and (max-width: 758px) {

        .prod-carousel {
            padding: 70px!important;
            width: 100%;
            padding-top: 0!important;
        }

        .prod-col {
            padding: 0!important;
        }

        .prod-row:last-child {
            padding: 5px;
        }
        
        .img {
            width: 300px;
            height: auto;
        }

        .titulo, .titulo-dois {
            padding: 70px;
        }

        .titulo::after {
            bottom: -13%;
        }

        .titulo-dois::after  {
            bottom: -113%;
        }
    }
}