.contact-container {
    background-image: url('assets/rio40graus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90px; 
    height: 100vh;
    display: flex;
    justify-content: center;
}

