.home-container,
.home-row,
.home-col {
    margin: 0 !important;
    padding: 0 !important;
}

.home-container {
    margin-top: 10px !important;
}

.home-row,
.home-col,
.home-car-item {
    width: 116.35%;
}

.home-car-item {
    height: 65vh;
}

.home-car-item img {
    height: 700px;
}

.home-select {
    width: 70%;
    height: 90px;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 2px 9px rgba(0, 0, 0, 0.323);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    margin: auto;

    position: relative;
    top: -50px;
    margin-bottom: -50px;
    z-index: 1;
}

select {
    cursor: pointer !important;
    border-radius: 5px;
    padding: 8px 20px;
    width: 180px;
    background-color: #bbbbbb35;
    border: none;
}

@media only screen and (max-width: 1024px) {

    .home-row,
    .home-col,
    .home-car-item {
        width: 117.71%;
    }

    .home-car-item {
        height: auto;
    }

    .home-car-item {
        height: 50vh;
    }

    .home-select {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 10;
        height: 150%;
        top: -90px;
        margin-bottom: -35px;
    }

    .home-select div {
        width: 100%;
        flex-grow: 1;
    }

    select {
        width: 100%;
        padding-left: 10px;
    }

    Button {
        width: 100%;
    }


    @media only screen and (max-width: 758px) {

        .home-row,
        .home-col,
        .home-car-item {
            width: 100%;
        }

        .home-car-item {
            height: auto;
        }

        .home-car-item {
            height: 50vh;
        }

        .home-select {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            z-index: 10;
            height: 150%;
            top: -90px;
            margin-bottom: -35px;
        }

        .home-select div {
            width: 100%;
            flex-grow: 1;
        }

        select {
            width: 100%;
            padding-left: 10px;
        }

        Button {
            width: 100%;
        }
    }
}