.firstRow {
    padding-top: 5%;
    width: 80%;
    margin-left: 15%!important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .firstRow-div {
    flex-basis: 33.33%;
    
  }

  .firstRow-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
    
}

.rowFirstCard {
    text-align: left;
}

.rowFirstCard p {
    width: 70%;
    font-size: 0.75rem;
}

.rowFirstCard h6 {
    font-size: 1rem;
}